body{
    background-color:antiquewhite;
}
#a{
    background-color: rgb(146, 177, 177);
    display: inline-block;
}
#personal_info{
    text-align: left;
    background-color: rgb(117, 117, 133);
    padding: 5px;
    margin:1px;
    border: 3px dotted;
    text-decoration: underline;
}
#p{
    border: 3px dotted rgb(172, 135, 135);
    border-radius: 1%;
    float: right;
    margin-right:5px;
    padding:3px;
    height:80px;
    width:80px;
}
#education{
    background-color: rgb(139, 139, 182);
    padding: 5px;
    margin:5px;
    border:3px dotted
}
#skills{
    background-color: rgb(140, 140, 153);
    padding: 5px;
    margin:5px;
    border:3px dotted
}
#Project{
    background-color: rgb(130, 130, 139);
    padding: 5px;
    margin:5px;
    border:3px dotted
}
#certification{
     background-color: rgb(121, 121, 134);
    padding: 5px;
    margin:5px;
    border:3px dotted
}
